* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fregister {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
